TELEGRAM_BOT_TOKEN='7356168251:AAEqXBsCD0dzK-Qa4TNrn2YmGlEwiVoIX9A'

DATABASE_URI_SWAP="mysql+aiomysql://signalbot_rwuser:2#E4F4y6RuT3m@rm-gs569q1h46zf981ex.mysql.singapore.rds.aliyuncs.com/signalbot_db"

WELCOME_API = "http://172.31.91.67:4070/admin/telegram/social/welcome_msg"
VERIFY_API = "http://172.31.91.67:4070/admin/telegram/social/verify"
DETAIL_API = "http://172.31.91.67:4070/admin/telegram/social/detail"

# 新的私聊专用接口
WELCOME_API_BY_BOT = "http://172.31.91.67:4070/admin/telegram/social/welcome_msg_by_bot"
VERIFY_API_BY_BOT = "http://172.31.91.67:4070/admin/telegram/social/verify_by_bot"
DETAIL_API_BY_BOT = "http://172.31.91.67:4070/admin/telegram/social/detail_by_bot"
SOCIAL_API = "http://172.31.91.67:4070/admin/telegram/social/socials"

MESSAGE_API_URL = "https://sp.signalcms.com/bot/posts/list?is_sent_tg=0"
UPDATE_MESSAGE_API_URL = "https://sp.signalcms.com/bot/posts/edit"
IMAGE_BASE_URL=https://sp.signalcms.com

DISCORD_BOT="http://172.31.91.89:5011/api/discord/announcement"
DISCORD_BOT_COPY="http://172.31.91.89:5011/api/discord/copy_signal"
DISCORD_BOT_SUMMARY="http://172.31.91.89:5011/api/discord/trade_summary"
DISCORD_BOT_SCALP="http://172.31.91.89:5011/api/discord/scalp_update"
DISCORD_BOT_HOLDING="http://172.31.91.89:5011/api/report/holdings"
DISCORD_BOT_WEEKLY="http://172.31.91.89:5011/api/report/weekly"

PRODUCT_IP=spot-19

ENVIRONMENT=product
TEST_IMAGE_BASE_URL=http://localhost:5003

